<button type="submit" class="search__button"><img
    src="/search-icon.png"
    class="search__icon"
    alt="search-icon"
  /></button>
<input type="type" class="search__input" placeholder="Search" />
