
<ul>
  <li><a href="/login" class="nav-link">Sign In Page</a></li>
  <li><a href="/registration" class="nav-link">Sign Up Page</a></li>
  <li><a href="/chats" class="nav-link">Chats</a></li>
  <li><a href="*" class="nav-link">Error 404</a></li>
  <li><a href="/profile" class="nav-link">User Profile</a></li>
</ul>
