<nav id="nav">
  <ul>
    {{#if showAll}}
      <li><a href="./pages/signs/signIn.html">Sign In Page</a></li>
      <li><a href="./pages/signs/signUp.html">Sign Up Page</a></li>
      <li><a href="./pages/chats/chats.html">Chats</a></li>
      <li><a href="./pages/errors/404.html">Error 404</a></li>
      <li><a href="./pages/errors/5xx.html">Error 5**</a></li>
      <li><a href="./pages/profile/profile.html">User Profile</a></li>
    {{else}}
      <li><a href="/">Back</a></li>
    {{/if}}
  </ul>
</nav>
