<div class="modal-overlay">
  <div class="modal-content">
    {{closeButton}}
    <div>Load New Photo</div>
    <div class="upload-text" id="uploadButton" onclick="{{handleClick}}">{{title}}</div>
    {{saveButton}}
  </div>
</div>
