<div class="modal-overlay">
  <div class="modal-content">
    <span class="close-btn" onclick="{{onClose}}">×</span>
    <div class="upload-text" onclick="{{handleClick}}">Загрузите файл</div>
  </div>
</div>
